<!DOCTYPE html>
<html>
  <head>
    <h1><%= title %></h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post">
      User: <input type="text" name="name"/><br>
      Password: <input type="password" name="password"/><br>
    <button type="submit">Submit</button>
    </form>
  </body>
</html>
